body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0px 9px 14px -2px rgba(0,0,0,0.75);;
}

.social a {
  font-size: 4rem;
  padding: 3rem;
}

.social a:hover {
  text-decoration: none;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-pinterest {
  color: #bb0000;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-pinterest:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: white;
  padding-top: 2rem;
  margin-top: 5rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

.social-active a {
  font-size: 1.5rem;
  padding: 2rem;
}

.social-active a:hover {
  text-decoration: none;
}